.formContainer {
  display: flex;
  justify-content: space-around;
}

form {
  padding: 10px 15px;
}

#saveBtn, #updateBtn {
  cursor: pointer;
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 25px;
  height: 300px;
  overflow-y: scroll;
}

.user_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;

}

.user-info {
  flex-basis: 200px;
}

#deleteBtn {
  height: 20px;
  cursor: pointer;
}
